/.vs
/code-samples/.vs
/code-samples/csharp-createcustomer-sample/.vs
/code-samples/csharp-createcustomer-sample/csharp-createcustomer-sample/bin
/code-samples/csharp-createcustomer-sample/csharp-createcustomer-sample/obj
/code-samples/csharp-createcustomer-sample/packages
/code-samples/csharp-createinvoice-sample/.vs
/code-samples/csharp-createinvoice-sample/csharp-createinvoice-sample/bin
/code-samples/csharp-createinvoice-sample/csharp-createinvoice-sample/obj
/code-samples/csharp-createinvoice-sample/packages
/code-samples/csharp-listorders-sample/.vs
/code-samples/csharp-listorders-sample/packages
/code-samples/csharp-listorders-sample/csharp-listorders-sample/bin
/code-samples/csharp-listorders-sample/csharp-listorders-sample/obj
/code-samples/csharp-createorder-sample/.vs
/code-samples/csharp-createorder-sample/packages
/code-samples/csharp-createorder-sample/csharp-createorder-sample/bin
/code-samples/csharp-createorder-sample/csharp-createorder-sample/obj
