################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code-samples/csharp-createcustomer-sample/.vs
